@font-face {
    font-family: 'Fanan';
    src: url('Fanan.woff2') format('woff2'),
        url('Fanan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

